* {
    box-sizing: border-box;
}
.graph{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.day {
    width: 0.3%;
    height: 0.3vw;
    overflow: hidden;
    background-color: lightgray;
    margin: 1px;
}
.today {
    background-color: red;
}
.good {
    background-color: aquamarine;
}